@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype"),
    url("../fonts/Vazir.eot") format("eot");
}

@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
